h1 {
    color: #333;
    text-align: center;
}

* {
  box-sizing: border-box;
}

body,html {
    margin:0;
    padding: 0;
    height: 97vh;
    font-family: 'Courier New', Courier, monospace;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
table {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    opacity: 0.9;
}

tr {
    background-color: #fafafa;
}

#actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
button {
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid #007bff;
    background-color: #007bff;
    border-radius: 3px;
    transition: opacity 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}
button:hover {
    opacity: 0.95;
    box-shadow: 0 0 5px rgba(0, 0, 0);
}

#upload-area {
    text-align: center;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

body.drag-over {
    background-color: rgba(0, 120, 255, 0.1);
    border: 2px dashed #007bff;
}
